#topp {
    position: fixed;
    top: 0px;
    right: 0px; 
}
#bottomm {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.title{
    position: fixed;
    top: 0px;
    left: 45%;
    color: red; 
}